# Node modules
node_modules/

# Logs
*.log

# Environment files
.env

# Yarn lock file (if you don't want to commit it)
yarn.lock

# IDE/editor specific files
.vscode/
.idea/

# Operating system specific files
.DS_Store
Thumbs.db

# Exclude audio files
src/audio/*
src/transcription/*
